<a href="https://colab.research.google.com/github/Aleena-khan14/DSMP-Module-2-Final-Project/blob/main/E_Commerce_Sales_Analysis_Using_SQL%2C_Pandas%2C_and_GitHub.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import sqlite3
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
#importing csv file to dataframes
orders = pd.read_csv('https://raw.githubusercontent.com/SobiaNoorAI/Python/main/Ecommerce%20Sales%20Analysis/data/Orders_Large.csv')
products = pd.read_csv('https://raw.githubusercontent.com/SobiaNoorAI/Python/main/Ecommerce%20Sales%20Analysis/data/Products_Large.csv')
customers = pd.read_csv('https://raw.githubusercontent.com/SobiaNoorAI/Python/main/Ecommerce%20Sales%20Analysis/data/Customers_Large.csv')
sales = pd.read_csv('https://raw.githubusercontent.com/SobiaNoorAI/Python/main/Ecommerce%20Sales%20Analysis/data/Sales_Large.csv')

In [ ]:
#using sqlite 3 to make empty table
conn=sqlite3.connect('ecommerce.db')

In [ ]:
#Store Pandas DataFrames into SQL Tables
orders.to_sql('Orders',conn,if_exists='replace',index=False)
products.to_sql('Products',conn,if_exists='replace',index=False)
customers.to_sql('Customers',conn,if_exists='replace',index=False)
sales.to_sql('Sales',conn,if_exists='replace',index=False)

500

In [ ]:
#running query to check whether its working or not
query= """
SELECT Name
FROM Customers
LIMIT 5;
"""
result=pd.read_sql_query(query,conn)
print(result)

                Name
0  Christina Harrell
1      David Charles
2      Cheryl Harris
3       Cameron King
4          Tanya Kim

# **SQL TASKS**

2. SQL Tasks
Objective: Store the dataset in an SQLite database and perform queries.
Steps:
Use SQLite to create a relational database.
Load the datasets into respective tables.
Perform SQL queries to extract insights.
SQL queries to answer:
Total sales revenue by month.
Top 5 best-selling products.
Revenue contribution by customer segments.
Identify the top regions for sales.

## **Total Sales revenue by Month**

In [ ]:
query= """
SELECT
    strftime('%Y-%m', o.OrderDate) AS Month,
    SUM(s.Revenue) AS TotalRevenue
FROM Orders o
JOIN
  Sales s
  ON o.TransactionID = s.OrderID

GROUP BY Month
ORDER BY Month;

"""
Sales_revenue_monthly=pd.read_sql_query(query,conn)
Sales_revenue_monthly.to_csv("Sales_revenue_monthly.csv",index=False)
print(Sales_revenue_monthly)

      Month  TotalRevenue
0   2022-11         11211
1   2022-12         26988
2   2023-01         20364
3   2023-02         17371
4   2023-03         21717
5   2023-04         21783
6   2023-05         25470
7   2023-06         20934
8   2023-07         27406
9   2023-08         24805
10  2023-09         23331
11  2023-10         27643
12  2023-11         20785
13  2023-12         21525
14  2024-01         26647
15  2024-02         14664
16  2024-03         21321
17  2024-04         24108
18  2024-05         30968
19  2024-06         20219
20  2024-07         30688
21  2024-08         25381
22  2024-09         22423
23  2024-10         22526
24  2024-11         13721

## **Top 5 best-selling products**

In [ ]:
query= """
SELECT
    p.ProductName AS ProductName,
    SUM(o.Quantity) AS TotalQuantity
FROM Products p
JOIN
  Orders o
  ON p.ProductID = o.ProductID

GROUP BY p.ProductID
ORDER BY TotalQuantity DESC
LIMIT 5;

"""
best_selling_products=pd.read_sql_query(query,conn)
best_selling_products.to_csv('Top_best_selling_products.csv',index=False)
print(best_selling_products)

  ProductName  TotalQuantity
0        Card             99
1          We             96
2      Notice             88
3        Size             84
4        Both             81

# **Revenue contribution by customer segments**

In [ ]:
query= """
SELECT
    c.Segment,
    SUM(s.Revenue) AS TotalRevenue
FROM Customers c
JOIN
  Orders o
  ON c.CustomerID = o.CustomerID
JOIN
  Sales s
  ON o.TransactionID = s.OrderID
WHERE s.Revenue IS NOT NULL
GROUP BY c.Segment
ORDER BY TotalRevenue DESC;


"""
segment_revenue=pd.read_sql_query(query,conn)

segment_revenue.to_csv('segment_revenue.csv', index=False)
print(segment_revenue)

     Segment  TotalRevenue
0  Corporate        262144
1  Wholesale        161551
2     Retail        140304

# **Identify the top regions for sales.**

In [ ]:
query= """
SELECT
    c.Region,
    SUM(s.Revenue) AS TotalRevenue
FROM Customers c
JOIN
  Orders o
  ON c.CustomerID = o.CustomerID
JOIN
  Sales s
  ON o.TransactionID = s.OrderID

GROUP BY c.Region
ORDER BY TotalRevenue DESC;


"""
Top_region_sales=pd.read_sql_query(query,conn)

Top_region_sales.to_csv('Top_region_sales.csv', index=False)
print(Top_region_sales)

    Region  TotalRevenue
0     West        159531
1  Central        132771
2     East        123329
3    North         94026
4    South         54342

# **Pandas Tasks**

In [ ]:
# Check for missing values in each dataset
print("Orders Missing Values:")
print(orders.isnull().sum())

print("\nProducts Missing Values:")
print(products.isnull().sum())

print("\nCustomers Missing Values:")
print(customers.isnull().sum())

print("\nSales Missing Values:")
print(sales.isnull().sum())

Orders Missing Values:
TransactionID    0
OrderDate        0
CustomerID       0
ProductID        0
Quantity         0
TotalAmount      0
dtype: int64

Products Missing Values:
ProductID      0
ProductName    0
Category       0
Price          0
dtype: int64

Customers Missing Values:
CustomerID    0
Name          0
Region        0
Segment       0
dtype: int64

Sales Missing Values:
OrderID      0
Revenue      0
Discounts    0
Taxes        0
dtype: int64

In [ ]:
print("Orders Duplicates:", orders.duplicated().sum())
print("Products Duplicates:", products.duplicated().sum())
print("Customers Duplicates:", customers.duplicated().sum())
print("Sales Duplicates:", sales.duplicated().sum())

orders=orders.drop_duplicates()
products=products.drop_duplicates()
customers=customers.drop_duplicates()
sales=sales.drop_duplicates()

Orders Duplicates: 0
Products Duplicates: 0
Customers Duplicates: 0
Sales Duplicates: 0

In [ ]:
print("Orders Info:")
print(orders.info())

print("\nProducts Info:")
print(products.info())

print("\nCustomers Info:")
print(customers.info())

print("\nSales Info:")
print(sales.info())

Orders Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   TransactionID  500 non-null    int64
 1   OrderDate      500 non-null    object
 2   CustomerID     500 non-null    int64
 3   ProductID      500 non-null    int64
 4   Quantity       500 non-null    int64
 5   TotalAmount    500 non-null    int64
dtypes: int64(5), object(1)
memory usage: 23.6+ KB
None

Products Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ProductID    50 non-null     int64
 1   ProductName  50 non-null     object
 2   Category     50 non-null     object
 3   Price        50 non-null     int64
dtypes: int64(2), object(2)
memory usage: 1.7+ KB
None

Customers Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CustomerID  50 non-null     int64
 1   Name        50 non-null     object
 2   Region      50 non-null     object
 3   Segment     50 non-null     object
dtypes: int64(1), object(3)
memory usage: 1.7+ KB
None

Sales Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   OrderID    500 non-null    int64
 1   Revenue    500 non-null    int64
 2   Discounts  500 non-null    int64
 3   Taxes      500 non-null    int64
dtypes: int64(4)
memory usage: 15.8 KB
None

In [ ]:
orders['OrderDate'] = pd.to_datetime(orders['OrderDate'])

# Verify the conversion
print(orders.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   TransactionID  500 non-null    int64
 1   OrderDate      500 non-null    datetime64[ns]
 2   CustomerID     500 non-null    int64
 3   ProductID      500 non-null    int64
 4   Quantity       500 non-null    int64
 5   TotalAmount    500 non-null    int64
dtypes: datetime64[ns](1), int64(5)
memory usage: 23.6 KB
None

In [ ]:
orders.to_csv('cleaned_orders.csv', index=False)
products.to_csv('cleaned_products.csv', index=False)
customers.to_csv('cleaned_customers.csv', index=False)
sales.to_csv('cleaned_sales.csv', index=False)

print("Data cleaning completed and files saved.")

Data cleaning completed and files saved.

# **EDA**

## 1. Sales Trends

In [32]:
# Extract month from OrderDate
orders['Month'] = pd.to_datetime(orders['OrderDate']).dt.month
orders['Year']=pd.to_datetime(orders['OrderDate']).dt.year

# Group by Month and calculate TotalRevenue
monthly_revenue = orders.groupby('Month')['TotalAmount'].sum().reset_index()
yearly_revenue=orders.groupby('Year')['TotalAmount'].sum().reset_index()


# Sort by Month
# Extract month from OrderDate
orders['Month'] = pd.to_datetime(orders['OrderDate']).dt.month
orders['Year']=pd.to_datetime(orders['OrderDate']).dt.year

# Group by Month and calculate TotalRevenue
monthly_revenue = orders.groupby('Month')['TotalAmount'].sum().reset_index()
yearly_revenue=orders.groupby('Year')['TotalAmount'].sum().reset_index()


# Sort by Month
monthly_revenue = monthly_revenue.sort_values('Month')
yearly_revenue=yearly_revenue.sort_values('Year')
print("Monthly revenue: \n\n", monthly_revenue)
print("\nYearly revenue: \n\n", yearly_revenue)

Monthly revenue:

     Month  TotalAmount
0       1        23169
1       2        14671
2       3        20446
3       4        21664
4       5        30093
5       6        22289
6       7        24503
7       8        23733
8       9        21824
9      10        20679
10     11        19130
11     12        23476

Yearly revenue:

    Year  TotalAmount
0  2022        16837
1  2023       129799
2  2024       119041

## Customer Behavior